<nav class="navbar navbar-expand-lg main-navbar">
  <div class="container">

    <a class="navbar-brand fw-bold" href="{% url "kitchen:home" %}">
      Taste the Best
    </a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="{% url "kitchen:home" %}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url "kitchen:cook-list" %}">
            All Cooks
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url "kitchen:dish-list" %}">
            All Dishes
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url "kitchen:dish-type-list" %}">
            All Dish Types
          </a>
        </li>

      </ul>
    </div>

  </div>
</nav>