{% extends "base.html" %}

{% block title %}
  Dish Types
{% endblock %}

{% block content %}
  <div class="container dish-types-page">
    <div class="dish-types-header">
      <div>
        <h1>Dish Types</h1>
        <p>Explore our dish categories</p>
      </div>
      <a href="{% url "kitchen:dish-type-create" %}"
        class="btn create-dish-type-btn">
          + Create Dish Type
      </a>
    </div>

    <div class="row g-4">
      {% for dish_type in dishtype_list %}
        <div class="col-lg-4 col-md-6">
          <div class="dish-type-card">
            <h2>
              {{ dish_type.name }}
            </h2>
            <div class="dish-type-actions">
              <a href="{% url "kitchen:dish-type-dishes-list" dish_type.id %}" class="dish-type-details">
                View dishes →
              </a>

              <div class="dish-type-manage">
                <a href="{% url "kitchen:dish-type-update" dish_type.id %}" class="dish-type-update">
                  Update
                </a>

                <a href="{% url "kitchen:dish-type-delete" dish_type.id %}" class="dish-type-delete">
                  Delete
                </a>
              </div>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="col-12">
          <p class="text-center">
            There are no dish types yet.
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
